@import "/fonts/Gilroy/font.css";

:root {
  --background: linear-gradient(116.14deg, #1b1b1b 37.62%, #100b0b 100.31%);
  --accent: #00ff97;
  --red: #ff2b2b;
}

body {
  min-height: 200px;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  background: var(--background);
  overflow: hidden;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 390px;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  border: none;
}

button {
  outline: none;
  border-radius: 999px;
}

header,
footer {
  width: 100%;
}

header {
  height: 70px;
}

footer {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.large-button {
  padding: 0.9rem 4.05rem;
}

.large-button__text {
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
}

.small-button {
  padding: 0.3rem 1.8rem;
}

.small-button__text {
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.8rem;
  color: rgba(0, 0, 0, 0.7);
}

.table__text {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  line-height: 24px;
}

.accent {
  background-color: var(--accent);
}

.red {
  background-color: var(--red);
}
