.table-page {
  max-height: 540px;
}

nav {
  width: 100%;
  height: 100%;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reload,
.search {
  opacity: 0.4;
  background: rgba(255, 255, 255, 1);
}

table {
  border-collapse: collapse;
  width: 100%;
}
table input {
  font-weight: 900;
}

tr {
  height: 65px;
  background: rgba(0, 255, 151, 0.6);
}

tr:nth-child(even) {
  background: rgba(0, 255, 151, 0.3);
}

footer nav {
  justify-content: space-around;
}

.search-cookie {
  display: none;
}

.no-cookies {
  display: none;
}

.table-hover > tbody > tr:hover {
  background-color: #e6e6e6;
}

table td:first-of-type {
  padding: 0 30px;
}

table td:last-of-type button {
  margin: 0 10px;
}

table input {
  color: #fff;
  background: transparent;
}

button:hover {
  transform: scale(1.1);
}

.icon-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#cookie-count {
  color: var(--accent);
  font-size: 0.9rem;
}
